@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");
body {
  font-size: 14px;
  height: 100%;
  /*line-height: 1.5;*/
}

.navbar {
  margin-bottom: 6em;
}

h1 {
  font-size: 2rem;
  margin-bottom: .5em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

#avatar{
  margin-right: 3em;
  height: 250px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.7);
}



#aboutme{
  padding-top: 3em;
  padding-bottom: 2em;
}

.timeline-item {
  padding: 3em 2em 0.1em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item p {
  font-size: 1.1rem;
}

/*.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 0.5em;
  display: block;
  /*font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}*/


.timeline-item .date{
  margin-top: -2.1em;
  font-weight: bold;
  font-weight: 700;
  font-size: 1rem;
}

.timeline-item .article{
  margin-top: -2.1em;
  /*font-weight: bold;
  font-weight: 700;*/
  font-size: 1rem;
}

.timeline-item .date img{
  width: 48px; float: left;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
}

.timeline-item:first-child {
  -o-border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 90%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 90%, transparent) 1 100%;
     border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 90%, transparent) 1 100%;
}

footer {
  margin-top: 5em;
}
